/*
 * $HeadURL$
 * $LastChangedBy$
 * $Date$
 * $Revision$
 *
 * Styling sets up the icon on the JavaScript pane.
 */

#JavascriptOptions radio[pane=paneFeatures] {
  	list-style-image: url("chrome://jsoptions/skin/jsoptions.png");
	-moz-image-region: rect(0px, 32px, 32px, 0px);
}

#JavascriptOptions radio[pane=paneWindows] {
  	list-style-image: url("chrome://jsoptions/skin/jsoptions.png");
	-moz-image-region: rect(0px, 64px, 32px, 32px);
}

#JavascriptOptions radio[pane=panePopups] {
  	list-style-image: url("chrome://jsoptions/skin/jsoptions.png");
	-moz-image-region: rect(0px, 96px, 32px, 64px);
}

#JavascriptOptions {
	height: 29em;
	width: 32em;
}

.content-box {
	-moz-box-flex: 1;
}
