/*
 * $HeadURL$
 * $LastChangedBy$
 * $Date$
 * $Revision$
 *
 * Styling removes the JavaScript options from the content pane and sets up the icon on the JavaScript pane.
 */

#JavascriptOptions radio[pane=paneFeatures] {
  	list-style-image: url("chrome://jsoptions/skin/jsoptions.png");
	-moz-image-region: rect(0px, 32px, 32px, 0px);
}

#JavascriptOptions radio[pane=paneFeatures]:hover, #JavascriptOptions radio[pane=paneFeatures][selected="true"]  {
  	list-style-image: url("chrome://jsoptions/skin/jsoptions.png");
	-moz-image-region: rect(32px, 32px, 64px, 0px);
}

#JavascriptOptions {
	padding: 0;
	height: 40em;
	width: 32em;
}

#JavascriptOptions hbox.paneDeckContainer {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#JavascriptOptions hbox.prefWindow-dlgbuttons {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
